body {
    background-color: #0f0f0a;
    color: #fcf1b8;
}

@font-face {
    font-family: Iosevka;
    src: url(../resources/fonts/iosevka-extendedbold.woff);
}


@keyframes body_animation {
    from {
        color: transparent;
    }
    
    to {
        color: inherit;
    }
}

.main_body {
    display: block;
    padding: 50px;
    text-align: left;
}

#whoami {
    animation-name: body_animation;
    animation-duration: 1s;

}


#main_heading {
    text-align: center;
}


#whoami {
    text-align: left;
}

#whoami_heading {
    text-align: left;
}

.projects_container {
    display: flex;
}

.projects_right {
    display: none;
}

.projects_right {
    display: list-item;
}


#projects {
    display: inline-block;
}


.projects_right {
    width: 100%;
    padding-left: 25px;
}

.project_description a {
    color: yellow;
}

.project_description {
    padding: 2px;
}

.single_project {
    padding: 2px;
}

.project_heading_div {
    width: max-content;
}

.project_heading {
    overflow: hidden;
    white-space: nowrap;
    border-right: 12px solid yellow;
    animation:
        typing 0.5s steps(20, end),
        blink_cursor .7s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink_cursor {
    from, to { border-color: yellow}
    50% { border-color: transparent }
}

.programming_languages {
    max-width: 60%;
    display: flex;
    gap: 12px;
}

.languages {
    max-width: 60%;
    display: flex;
    gap: 12px;
}
