body {
    background-color: #0f0f0a;
    color: #fcf1b8;
}

.main_body {
    display: block;
    padding: 50px;
    text-align: center;
}

#whoami {
    text-align: left;
}

.projects_container {
    display: flex;
}

.projects_right {
    display: none;
}

.projects_right {
    display: list-item;
}

#projects {
    display: inline-block;
}


.projects_right {
    width: 100%;
    padding-left: 25px;
}

.project_description {
    padding: 2px;
}


.single_project {
    padding: 2px;
}

.single_project:hover {
    background-color: white;
    color: red;
}
